*{padding: 0;margin: 0;border: none;}
body{ display:flex; justify-content:center;background-color: rgb(243, 243, 243); font-family:Georgia, Times, 'Times New Roman', serif;}
.Container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:90%;
    height: 580px;
    background-color: rgb(243, 243, 243);

}

.Img{
    width:700px; height:650px;
    background-image: url(../img/instagram-celular.png);
    background-repeat: none;
    background-size: cover;
}
.Cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}
.UserInfo, 
.Info{border-radius: 3px; border: 1px solid #d4d4d8;background-color: white;width: 450px;}
.UserInfo{
    height: 340px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.UserPict{
    width:130px;
    height:130px;
    border-radius:50%;
}
#getIn,.TxtColor{text-decoration: none;}
#getIn{
    color: white;
    background-color: #0095f6;
    width: 30vh;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.TxtColor{color: #0095f6;}
.Info{color: #a1a1aa; height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Store{
    
    width: 350px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#appleStoreImg, #googlePlayImg{
    width:140px;
    height: 42px;
}




